<div class="row">
    <div class="d-flex border-bottom justify-content-between align-items-end">
        <h2>{{title}}</h2>
        <h4>Authored by {{author}}</h4>
    </div>
    <div>
        <p>{{description}}</p>
    </div>
</div>