<div class="row">
    <div class="col">
        <h1>Edit your post:</h1>
        <form class='border p-2' id='editPostForm'>
            <div class="mb-3">
                <label for="newPostName" class="form-label">Post name:</label>
                <input type="text" class="form-control" id="newPostName" name="newPostName" value="{{name}}">
            </div>
            <div class="mb-3">
                <label for="newPostDesc" class="form-label">Post description:</label>
                <textarea class="form-control" id="newPostDesc" name="newPostDesc">{{description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script src="/js/edit-post.js"></script>