<section class="row">
    <div class="col">
        <h1>Login</h1>
        <form class='border p-2' id='loginForm'>
            <div class="mb-3">
                <label for="loginUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="loginUsername">
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginPassword">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col">
        <h1>Register</h1>
        <form class='border p-2' id='registerForm'>
            <div class="mb-3">
                <label for="registerUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="registerUsername">
            </div>
            <div class="mb-3">
                <label for="registerEmail" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="registerEmail">
            </div>
            <div class="mb-3">
                <label for="registerPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="registerPassword">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
<script src="/js/login.js"></script>